{{ define "main" }}
<!DOCTYPE html>
<html lang="en-us">

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>Madi, The Non-Boring Mary Anne</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">Welcome to my 90s throwback-inspired portfolio!</p>
        <p></p>
        <p>This site includes what I do, my areas of interest and some of the coolest projects I worked on.</p>
        <p></p>
        <hr class="soften">
        <p></p>
        <h1>{{ i18n "postslist" }}</h1>
        <ul>
            {{ range first 10 .Site.RegularPages }}
            {{ if eq .Type "post" }}
            <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
    </div>

    <div class="span3 bs-docs-sidebar">
        <h1>{{ i18n "categories" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "categories.html" .}}
        </ul>
        <p></p>
        <h1>{{ i18n "tags" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
    </div>
</div>

{{ end }}
